# Entorno virtual
env/
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Django / logs
*.log

# Archivos locales
.env
.env.*

credentials/credentials.json
credentials/token.json




# VS Code / IDE
.vscode/
.idea/
